*{
  margin: 0;
}
.App {
  
  display: flex;
  justify-content: space-between;
  background: #654ea3;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
  }

.app__header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: #654ea3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-left: -8px;
}

.left{
  flex:0.98;
}
.MuiInputBase-root{
  color:white;
}
.MuiOutlinedInput-root{
 
  
  margin-top: 0.6rem;
  background-color: #40514E;
}
.flags{
   width:40px;
   padding-right:0.8rem;
   
}

.Heading{
  color: #40514E;
  text-decoration:solid;
  padding-left: 1rem;
  
}
@media (max-width:452px){
  .Heading{
    font-size: x-large;
  }
 
}
.info-bar{
  display: flex;
  justify-content:space-evenly;
}
@media (max-width:426px){
  .info-bar{
    flex-direction: column;
    margin-top: 2rem;

  }
  .MuiCard-root{
    width:85%;
    margin-bottom: 12px;
    margin-left: 1.5rem;
  }
}
.right{
  scroll-behavior: auto;
  display: flex ;
  flex-direction: column;
  
}
.right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.graph{
  flex-grow: 1;
}
.dropbox{
  width: auto;
  width:"fit-content";
}
.flags{
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
}
.images{
  border-radius: 8px;
  width:80%;
  margin-left: 10%;
  height: 550px;
}
.main{
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bottom{
  width: 80%;
  height: 100%;
  
  margin-left: 10%;
  margin-right: 10%;
  /* margin-left: 12%; */
  margin-top: 4rem;
  overflow: hidden;
  
    /* fallback for old browsers */
  
}
.carousel-control-next-icon{
  height: 100%;
  width:30%;
  margin-left:40%;
}
.carousel-control-prev-icon{
  margin-right: 40%;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  height: 400px !important;
  width:30% !important;
}
.carousel-indicators{
  visibility: hidden;
}
@media (max-width:658px){
  .images{
  height: 14.30625rem;
  }
}
.extra{
  display: inline;
  margin-left:12%;
}
@media (max-width: 1134px) {
  .App {
    flex-direction: column;
  }
  .dropbox{
    width: auto;
    font-size: x-small !important;
    
  }
  
}

@media (max-width:1188px){
  .dropbox{
    font-size: x-small !important;
  }
}
@media (max-width:480px){
  .dropbox{
    width: auto;
    font-size: xx-small !important;
    
  }
  .flags{
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
  }
}

@media (min-width:1135px){
  .right{
    width:30% !important;
  }
  
}
.footer{
  background-color: black;
  height: 262px;
  color:aliceblue;
  width: 100% !important;
}
.footer-header{
  text-align: center;
  margin-top: 2px;
}
.comp-references{
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.link{
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:aquamarine !important;
 
}
.link-content{
  margin-top: 1rem;
  font-size: small;
}
.copyright{
  color:bisque;
  font-weight: lighter;
  text-align: center;
  margin-top: 1.4rem;
  font-size: x-small;
}
.date-time{
  margin-left: 80%;
  margin-top: 6px;
  font-size: small;
  padding-top: 5px;
}
.end{
  margin-top: 1rem;
}
.credits{
  text-align: center;
}